.title-component {
    width: 50rem;
    height: 12rem;
    display: flex;
    align-items: flex-end;
}

.title-component-parent {
    height: 70%;
    width: 100%;
    position: relative;
    background-color: #F0FF00;
}

.title-component-child {
    position: absolute;
    font-size: 3rem;
    top: -2rem;
    left: 3rem;
}